# Project: cleanning - [candy data]
### this notebook is for educational purpose . in this notebook we will do some cleanning

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">wrangling</a></li>
  
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 

> i will go through candy data 2017 , this data has :
- Internal_ID
- Q1-Going Out?: Are you actually going trick or treating yourself? "has values `Yes or No`"
- Q2-Gender: It has four different options, `Femal ,Male ,Other ,I'd rather not say`
- Q3-Age: Numerical field
- Q4-Country: Text Field, but users have written their own version of the names. Example, for America, there are entries such as USA, us, US, America so we should consider that while cleanning
- Q5-State/Province: Text Field, but users have written their own version of the names. Same as the country data.
- Q6-Joy Or Despair: All kinds of chocolate bars are the questions with three distinct options to choose from (Joy, Meh, Despair).
- Q7-Joy Other: Text Field to write items not included above that give you JOY. Lots of missing values.
- Q8-Despair Other: Text Field ti write items not included above that give you DESPAIR. Lots of missing values.
- Q9-Other Comments: Text Field. Lots of missing values.
- Q10-Dress: Binary field. Missing values present
- Unnamed: 113
- Q11-Day: Binary Answer Field. Missing values present

# 1- import packages and load data

In [1]:
import pandas as pd
import numpy as np
candy = pd.read_excel('candyhierarchy2017.xlsx')
candy.head()

C:\Users\HP\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,Internal ID,Q1: GOING OUT?,Q2: GENDER,Q3: AGE,Q4: COUNTRY,"Q5: STATE, PROVINCE, COUNTY, ETC",Q6 | 100 Grand Bar,Q6 | Anonymous brown globs that come in black and orange wrappers\t(a.k.a. Mary Janes),Q6 | Any full-sized candy bar,Q6 | Black Jacks,...,Q8: DESPAIR OTHER,Q9: OTHER COMMENTS,Q10: DRESS,Unnamed: 113,Q11: DAY,Q12: MEDIA [Daily Dish],Q12: MEDIA [Science],Q12: MEDIA [ESPN],Q12: MEDIA [Yahoo],"Click Coordinates (x, y)"
0,90258773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,90272821,No,Male,44,USA,NM,MEH,DESPAIR,JOY,MEH,...,NaN,Bottom line is Twix is really the only candy w...,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(84, 25)"
2,90272829,NaN,Male,49,USA,Virginia,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,90272840,No,Male,40,us,or,MEH,DESPAIR,JOY,MEH,...,NaN,Raisins can go to hell,White and gold,NaN,Sunday,NaN,1.0,NaN,NaN,"(75, 23)"
4,90272841,No,Male,23,usa,exton pa,JOY,DESPAIR,JOY,DESPAIR,...,NaN,NaN,White and gold,NaN,Friday,NaN,1.0,NaN,NaN,"(70, 10)"

<a id='wrangling'></a>
## Data Wrangling



### General Properties

# 2- show some general properties for the data

In [2]:
#get some information about data (Column name and number, data type of columns, nan value in columns)

candy.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2460 entries, 0 to 2459
Data columns (total 120 columns):
 #    Column                                                                                 Non-Null Count  Dtype
---   ------                                                                                 --------------  -----
 0    Internal ID                                                                            2460 non-null   int64
 1    Q1: GOING OUT?                                                                         2350 non-null   object
 2    Q2: GENDER                                                                             2419 non-null   object
 3    Q3: AGE                                                                                2376 non-null   object
 4    Q4: COUNTRY                                                                            2396 non-null   object
 5    Q5: STATE, PROVINCE, COUNTY, ETC                                                       2360 non-null   object
 6    Q6 | 100 Grand Bar                                                                     1713 non-null   object
 7    Q6 | Anonymous brown globs that come in black and orange wrappers	(a.k.a. Mary Janes)  1726 non-null   object
 8    Q6 | Any full-sized candy bar                                                          1788 non-null   object
 9    Q6 | Black Jacks                                                                       1502 non-null   object
 10   Q6 | Bonkers (the candy)                                                               1468 non-null   object
 11   Q6 | Bonkers (the board game)                                                          1454 non-null   object
 12   Q6 | Bottle Caps                                                                       1695 non-null   object
 13   Q6 | Box'o'Raisins                                                                     1772 non-null   object
 14   Q6 | Broken glow stick                                                                 1754 non-null   object
 15   Q6 | Butterfinger                                                                      1778 non-null   object
 16   Q6 | Cadbury Creme Eggs                                                                1777 non-null   object
 17   Q6 | Candy Corn                                                                        1782 non-null   object
 18   Q6 | Candy that is clearly just the stuff given out for free at restaurants            1769 non-null   object
 19   Q6 | Caramellos                                                                        1708 non-null   object
 20   Q6 | Cash, or other forms of legal tender                                              1780 non-null   object
 21   Q6 | Chardonnay                                                                        1717 non-null   object
 22   Q6 | Chick-o-Sticks (we donâ€™t know what that is)                                       1514 non-null   object
 23   Q6 | Chiclets                                                                          1749 non-null   object
 24   Q6 | Coffee Crisp                                                                      1607 non-null   object
 25   Q6 | Creepy Religious comics/Chick Tracts                                              1756 non-null   object
 26   Q6 | Dental paraphenalia                                                               1768 non-null   object
 27   Q6 | Dots                                                                              1731 non-null   object
 28   Q6 | Dove Bars                                                                         1758 non-null   object
 29   Q6 | Fuzzy Peaches                                                                     1637 non-null   object
 30   Q6 | Generic Brand Acetaminophen                                                       1729 non-null   object
 31   Q6 | Glow sticks                                                                       1763 non-null   object
 32   Q6 | Goo Goo Clusters                                                                  1581 non-null   object
 33   Q6 | Good N' Plenty                                                                    1726 non-null   object
 34   Q6 | Gum from baseball cards                                                           1744 non-null   object
 35   Q6 | Gummy Bears straight up                                                           1763 non-null   object
 36   Q6 | Hard Candy                                                                        1765 non-null   object
 37   Q6 | Healthy Fruit                                                                     1766 non-null   object
 38   Q6 | Heath Bar                                                                         1748 non-null   object
 39   Q6 | Hershey's Dark Chocolate                                                          1787 non-null   object
 40   Q6 | Hersheyâ€™s Milk Chocolate                                                          1788 non-null   object
 41   Q6 | Hershey's Kisses                                                                  1782 non-null   object
 42   Q6 | Hugs (actual physical hugs)                                                       1747 non-null   object
 43   Q6 | Jolly Rancher (bad flavor)                                                        1766 non-null   object
 44   Q6 | Jolly Ranchers (good flavor)                                                      1765 non-null   object
 45   Q6 | JoyJoy (Mit Iodine!)                                                              1434 non-null   object
 46   Q6 | Junior Mints                                                                      1762 non-null   object
 47   Q6 | Senior Mints                                                                      1518 non-null   object
 48   Q6 | Kale smoothie                                                                     1716 non-null   object
 49   Q6 | Kinder Happy Hippo                                                                1515 non-null   object
 50   Q6 | Kit Kat                                                                           1786 non-null   object
 51   Q6 | LaffyTaffy                                                                        1724 non-null   object
 52   Q6 | LemonHeads                                                                        1730 non-null   object
 53   Q6 | Licorice (not black)                                                              1774 non-null   object
 54   Q6 | Licorice (yes black)                                                              1775 non-null   object
 55   Q6 | Lindt Truffle                                                                     1742 non-null   object
 56   Q6 | Lollipops                                                                         1769 non-null   object
 57   Q6 | Mars                                                                              1735 non-null   object
 58   Q6 | Maynards                                                                          1436 non-null   object
 59   Q6 | Mike and Ike                                                                      1731 non-null   object
 60   Q6 | Milk Duds                                                                         1767 non-null   object
 61   Q6 | Milky Way                                                                         1772 non-null   object
 62   Q6 | Regular M&Ms                                                                      1785 non-null   object
 63   Q6 | Peanut M&Mâ€™s                                                                      1789 non-null   object
 64   Q6 | Blue M&M's                                                                        1733 non-null   object
 65   Q6 | Red M&M's                                                                         1731 non-null   object
 66   Q6 | Green Party M&M's                                                                 1696 non-null   object
 67   Q6 | Independent M&M's                                                                 1647 non-null   object
 68   Q6 | Abstained from M&M'ing.                                                           1518 non-null   object
 69   Q6 | Minibags of chips                                                                 1736 non-null   object
 70   Q6 | Mint Kisses                                                                       1684 non-null   object
 71   Q6 | Mint Juleps                                                                       1649 non-null   object
 72   Q6 | Mr. Goodbar                                                                       1720 non-null   object
 73   Q6 | Necco Wafers                                                                      1716 non-null   object
 74   Q6 | Nerds                                                                             1737 non-null   object
 75   Q6 | Nestle Crunch                                                                     1762 non-null   object
 76   Q6 | Now'n'Laters                                                                      1643 non-null   object
 77   Q6 | Peeps                                                                             1750 non-null   object
 78   Q6 | Pencils                                                                           1751 non-null   object
 79   Q6 | Pixy Stix                                                                         1738 non-null   object
 80   Q6 | Real Housewives of Orange County Season 9 Blue-Ray                                1707 non-null   object
 81   Q6 | Reeseâ€™s Peanut Butter Cups                                                        1781 non-null   object
 82   Q6 | Reese's Pieces                                                                    1769 non-null   object
 83   Q6 | Reggie Jackson Bar                                                                1446 non-null   object
 84   Q6 | Rolos                                                                             1746 non-null   object
 85   Q6 | Sandwich-sized bags filled with BooBerry Crunch                                   1684 non-null   object
 86   Q6 | Skittles                                                                          1754 non-null   object
 87   Q6 | Smarties (American)                                                               1735 non-null   object
 88   Q6 | Smarties (Commonwealth)                                                           1559 non-null   object
 89   Q6 | Snickers                                                                          1770 non-null   object
 90   Q6 | Sourpatch Kids (i.e. abominations of nature)                                      1722 non-null   object
 91   Q6 | Spotted Dick                                                                      1578 non-null   object
 92   Q6 | Starburst                                                                         1767 non-null   object
 93   Q6 | Sweet Tarts                                                                       1752 non-null   object
 94   Q6 | Swedish Fish                                                                      1745 non-null   object
 95   Q6 | Sweetums (a friend to diabetes)                                                   1458 non-null   object
 96   Q6 | Take 5                                                                            1543 non-null   object
 97   Q6 | Tic Tacs                                                                          1746 non-null   object
 98   Q6 | Those odd marshmallow circus peanut things                                        1724 non-null   object
 99   Q6 | Three Musketeers                                                                  1752 non-null   object
 100  Q6 | Tolberone something or other                                                      1754 non-null   object
 101  Q6 | Trail Mix                                                                         1752 non-null   object
 102  Q6 | Twix                                                                              1770 non-null   object
 103  Q6 | Vials of pure high fructose corn syrup, for main-lining into your vein            1668 non-null   object
 104  Q6 | Vicodin                                                                           1671 non-null   object
 105  Q6 | Whatchamacallit Bars                                                              1637 non-null   object
 106  Q6 | White Bread                                                                       1703 non-null   object
 107  Q6 | Whole Wheat anything                                                              1713 non-null   object
 108  Q6 | York Peppermint Patties                                                           1755 non-null   object
 109  Q7: JOY OTHER                                                                          911 non-null    object
 110  Q8: DESPAIR OTHER                                                                      717 non-null    object
 111  Q9: OTHER COMMENTS                                                                     386 non-null    object
 112  Q10: DRESS                                                                             1716 non-null   object
 113  Unnamed: 113                                                                           9 non-null      object
 114  Q11: DAY                                                                               1735 non-null   object
 115  Q12: MEDIA [Daily Dish]                                                                85 non-null     float64
 116  Q12: MEDIA [Science]                                                                   1362 non-null   float64
 117  Q12: MEDIA [ESPN]                                                                      99 non-null     float64
 118  Q12: MEDIA [Yahoo]                                                                     67 non-null     float64
 119  Click Coordinates (x, y)                                                               1605 non-null   object
dtypes: float64(4), int64(1), object(115)
memory usage: 2.3+ MB

<ipython-input-2-8bc86e4aa536>:3: FutureWarning: null_counts is deprecated. Use show_counts instead
  candy.info(verbose=True, null_counts=True)

In [3]:
#show if there dublicates value or not?

candy.duplicated().sum()

0

In [4]:
#make sure the 'Q1','Q2','Q10','Q11','Q12' columns all values from the same range 

questions_unique = candy.loc[ : ,candy.columns.str.contains('Q1|Q2|Q10|Q11|Q12')]
for col in questions_unique:
    print(questions_unique[col].unique())

[nan 'No' 'Yes']
[nan 'Male' 'Female' "I'd rather not say" 'Other']
[nan 'White and gold' 'Blue and black']
[nan 'Sunday' 'Friday']
[nan  1.]
[nan  1.]
[nan  1.]
[nan  1.]

In [5]:
#to get the the columns that belong to 'Q6' and make sure if the the all columns take the category data('JOY','MEH','DESPAIR')

q6 = candy.loc[:,candy.columns.str.contains('Q6')]
for col in q6:
    inconsist_data = set(q6[col]).difference(list(['JOY','MEH','DESPAIR']))
inconsist_data

{nan}

# 3- write summary about what you get form the above functions
> #### tips : this summary can be about : if there is any missing values , if there a wrong data type , if there a wrong range of values , ....

- The <b>all</b> columns name is not formal(have wihte space,special character and character in uppercase) so we must edit the column name to easy to access and read
- Theae are some columns have <b>wrong data type</b> like: ('GOING OUT?' must be category, 'GENDER' must be category, 'AGE' must be integer and 'DRESS, DAY' must be category
- All of the columns have <b>null data (missing values)</b> except the 'Internal ID' column not have a missing values
- All columns which is supposed to be category data type have correct <b>range of values</b>
- So far, there are <b>no duplicated</b> values

# cleaning

### 4- drop all the useless columns and  rows with too much NaN , 
> tip : useless columns can be like `Internal ID`and can be also columns with too much NaN 
- rename columns for easy access

In [6]:
#drop the 'Internal ID' column

candy.drop(columns = 'Internal ID', inplace = True)

In [7]:
#display the number of nan values

numeber_nan = candy.isna().sum().sort_values(ascending = False)
numeber_nan.head(15)

Unnamed: 113                            2451
Q12: MEDIA [Yahoo]                      2393
Q12: MEDIA [Daily Dish]                 2375
Q12: MEDIA [ESPN]                       2361
Q9: OTHER COMMENTS                      2074
Q8: DESPAIR OTHER                       1743
Q7: JOY OTHER                           1549
Q12: MEDIA [Science]                    1098
Q6 | JoyJoy (Mit Iodine!)               1026
Q6 | Maynards                           1024
Q6 | Reggie Jackson Bar                 1014
Q6 | Bonkers (the board game)           1006
Q6 | Sweetums (a friend to diabetes)    1002
Q6 | Bonkers (the candy)                 992
Q6 | Black Jacks                         958
dtype: int64

In [8]:
#Remove columns with a lot of missing values

candy_drop = candy.loc[ : , candy.isna().sum() > 1500]
candy.drop(columns=candy_drop.columns, inplace = True)

In [9]:
#Conversion the columns name from upper case to lower case 

candy.columns = candy.columns.str.lower()

### 5 - clean `going out` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [10]:
#rename the 'going out' columns and edit some columns

candy.columns = candy.columns.str.replace('[q]\d+\W+','').str.replace('?','').str.replace(' ','_')
candy.columns

<ipython-input-10-ac9c6719b461>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  candy.columns = candy.columns.str.replace('[q]\d+\W+','').str.replace('?','').str.replace(' ','_')
<ipython-input-10-ac9c6719b461>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  candy.columns = candy.columns.str.replace('[q]\d+\W+','').str.replace('?','').str.replace(' ','_')

Index(['going_out', 'gender', 'age', 'country', 'state,_province,_county,_etc',
       '100_grand_bar',
       'anonymous_brown_globs_that_come_in_black_and_orange_wrappers\t(a.k.a._mary_janes)',
       'any_full-sized_candy_bar', 'black_jacks', 'bonkers_(the_candy)',
       ...
       'vials_of_pure_high_fructose_corn_syrup,_for_main-lining_into_your_vein',
       'vicodin', 'whatchamacallit_bars', 'white_bread',
       'whole_wheat_anything', 'york_peppermint_patties', 'dress', 'day',
       'media_[science]', 'click_coordinates_(x,_y)'],
      dtype='object', length=112)

In [11]:
#after dropping the 'Internal ID' column we have a 35 duplicate values

candy.duplicated().sum()

35

In [12]:
#we drop duplicated rows

candy.drop_duplicates(inplace = True)

In [13]:
candy.going_out.isna().sum()

90

In [14]:
candy.dropna(how = 'all', inplace = True)
candy.reset_index(drop = True, inplace = True)

In [15]:
candy['going_out'] = candy['going_out'].str.lower()

In [16]:
candy['going_out'].fillna('unknown', inplace = True)

In [17]:
#change data type of 'going_to' column to category data type
candy['going_out'] = candy.going_out.astype('category')
candy['going_out'].dtype

CategoricalDtype(categories=['no', 'unknown', 'yes'], ordered=False)

In [18]:
candy['going_out'].value_counts()

no         2023
yes         312
unknown      89
Name: going_out, dtype: int64

In [19]:
candy.going_out.isna().sum()

0

### 6 - clean ` gender` column 
> tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [20]:
candy['gender'].isna().sum()

17

In [21]:
candy['gender'] = candy['gender'].str.lower()

In [22]:
candy['gender'] = candy.gender.fillna("I'd rather not say")

In [23]:
candy['gender'] = candy.gender.astype('category')
candy['gender'].dtype

CategoricalDtype(categories=['I'd rather not say', 'female', 'i'd rather not say', 'male',
                  'other'],
, ordered=False)

In [24]:
candy['gender'].value_counts()

male                  1458
female                 838
i'd rather not say      81
other                   30
I'd rather not say      17
Name: gender, dtype: int64

In [25]:
candy['gender'].isna().sum()

0

### 7 - clean ` age` column 
> tip : note the type of age column , and NaN values
 - try to use `to_numeric` 
 - tip : you should choose which best value to put in place of these NaNs ( mean, median, ....etc)

In [26]:
candy.age.unique()

array([44, 49, 40, 23, nan, 53, 33, 43, 56, 64, 37, 59, 48, 54, 36, 45,
       25, 34, 35, 38, 58, 50, 47, 16, 52, 63, 65, 41, 27, 31, 61, 46, 42,
       62, 29, 39, 32, 28, 69, 67, 30, 22, 26, 51, 70, 24, 18, 19,
       'Old enough', 57, 60, 66, 12, 'Many', 55, 72, '?', 21, 11, 'no', 9,
       68, 20, 6, 10, 71, 90, 13, '45-55', 312, 99, 7, 'hahahahaha', 88,
       39.4, 74, 102, 'older than dirt', 17, 15, 8, 75, '5u', 'Enough',
       'See question 2', '24-50', 14, 'Over 50', 100, 76, 1000,
       'sixty-nine', '46 Halloweens.', 'ancient', 77, 'OLD', 'old', 73,
       70.5, 1, 'MY NAME JEFF', 4, '59 on the day after Halloween',
       'old enough', 'your mom',
       'I can remember when Java was a cool new language', '60+'],
      dtype=object)

In [27]:
candy['age'] = pd.to_numeric(candy.age, downcast='integer' ,errors='coerce')
candy['age'].unique()

array([  44. ,   49. ,   40. ,   23. ,    nan,   53. ,   33. ,   43. ,
         56. ,   64. ,   37. ,   59. ,   48. ,   54. ,   36. ,   45. ,
         25. ,   34. ,   35. ,   38. ,   58. ,   50. ,   47. ,   16. ,
         52. ,   63. ,   65. ,   41. ,   27. ,   31. ,   61. ,   46. ,
         42. ,   62. ,   29. ,   39. ,   32. ,   28. ,   69. ,   67. ,
         30. ,   22. ,   26. ,   51. ,   70. ,   24. ,   18. ,   19. ,
         57. ,   60. ,   66. ,   12. ,   55. ,   72. ,   21. ,   11. ,
          9. ,   68. ,   20. ,    6. ,   10. ,   71. ,   90. ,   13. ,
        312. ,   99. ,    7. ,   88. ,   39.4,   74. ,  102. ,   17. ,
         15. ,    8. ,   75. ,   14. ,  100. ,   76. , 1000. ,   77. ,
         73. ,   70.5,    1. ,    4. ])

In [28]:
#we first replace nan value with 0 because this error "Cannot convert non-finite values (NA or inf) to integer" then convert 
#data types from float to integer 

candy['age'].fillna(0, inplace = True)
candy['age'] = candy['age'].astype('int32')
candy['age'].dtypes

dtype('int32')

In [29]:
candy.loc[candy['age'] > 102, ['age']] = 0
candy.loc[candy['age'] < 5, ['age']] = 0

In [30]:
(candy['age'] == 0).sum()

82

In [31]:
candy['age'].describe()

count    2424.000000
mean       40.705446
std        14.136060
min         0.000000
25%        33.000000
50%        41.000000
75%        49.000000
max       102.000000
Name: age, dtype: float64

In [32]:
candy.loc[candy['age'] == 0, ['age']] = candy.age.mean()

### 8 - clean ` country` column
> tip : note that country column has country names with different writing ways 
  - use fuzzywuzzy to deal with this problem
  - you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [33]:
candy.country.unique()

array(['USA ', 'USA', 'us', 'usa', nan, 'canada', 'Canada', 'Us', 'US',
       'Murica', 'United States', 'uk', 'United Kingdom', 'united states',
       'Usa', 'United States ', 'United staes',
       'United States of America', 'UAE', 'England', 'UK', 'canada ',
       'Mexico', 'United states', 'u.s.a.', 'USAUSAUSA', 'america', 35,
       'france', 'United States of America ', 'U.S.A.', 'finland',
       'unhinged states', 'Canada ', 'united states of america',
       'US of A', 'Unites States', 'The United States', 'North Carolina ',
       'Unied States', 'Netherlands', 'germany', 'Europe', 'Earth', 'U S',
       'u.s.', 'U.K. ', 'Costa Rica', 'The United States of America',
       'unite states', 'U.S.', 46, 'cascadia', 'Australia',
       'insanity lately', 'Greece', 'USA? Hard to tell anymore..',
       "'merica", 'usas', 'Pittsburgh', 45, 'United State', 32, 'France',
       'australia', 'A', 'Can', 'Canae', 'New York', 'Trumpistan',
       'Ireland', 'United Sates', 'Korea', 'California', 'Japan', 'USa',
       'South africa',
       'I pretend to be from Canada, but I am really from the United States.',
       'Usa ', 'Uk', 'Iceland', 'Germany', 'Canada`', 'Scotland', 'UK ',
       'Denmark', 'United Stated', 'France ', 'Switzerland',
       'Ahem....Amerca', 'UD', 'Scotland ', 'South Korea', 'New Jersey',
       'CANADA', 'Indonesia', 'United ststes', 'America',
       'The Netherlands', 'United Statss', 'endland', 'Atlantis',
       'murrika', 'USA! USA! USA!', 'USAA', 'Alaska', 'united States ',
       'soviet canuckistan', 'N. America', 'Singapore', 'USSA', 'China',
       'Taiwan', 'Ireland ', 'hong kong', 'spain', 'Sweden', 'Hong Kong',
       'U.S. ', 'Narnia', 'u s a', 'United Statea', 'united ststes', 1,
       'subscribe to dm4uz3 on youtube', 'United kingdom',
       'USA USA USA!!!!', "I don't know anymore", 'Fear and Loathing'],
      dtype=object)

In [34]:
from fuzzywuzzy import process

C:\Users\HP\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [35]:
country = pd.Series(['united_states','america','usa','australia','ireland','united_kingdom', 'uk','scotland','korea',
          'atlantis','china_hong_kong','spain','taiwan','greece','germany','netherlands','singapore','sweden','iately'])

In [36]:
for state in country:
    matches = process.extract(state, candy['country'], limit = candy.shape[0])
    for potential_match in matches:
        if potential_match[1] >= 60:
            candy.loc[candy['country'] == potential_match[0], 'country'] = state

In [37]:
candy['country'] = candy.country.str.lower()

In [38]:
candy.country.unique()

array(['taiwan', nan, 'canada', 'america', 'uk', 'united_kingdom',
       'netherlands', 'canada ', 'france', 'north carolina ', 'germany',
       'europe', 'earth', 'greece', 'pittsburgh', 'canae', 'new york',
       'singapore', 'california', 'spain', 'canada`', 'scotland',
       'denmark', 'france ', 'ud', 'new jersey', 'atlantis', 'murrika',
       'china_hong_kong', 'sweden', 'subscribe to dm4uz3 on youtube',
       'fear and loathing'], dtype=object)

In [39]:
candy['country'] = candy['country'].str.replace('ud','uk').str.replace('new york','united_states')
candy['country'] = candy['country'].str.replace(' ','').str.replace('`','')

In [40]:
candy['country'] = candy['country'].str.replace('subscribetodm4uz3onyoutube', 'nan')

In [41]:
candy.country.unique()

array(['taiwan', nan, 'canada', 'america', 'uk', 'united_kingdom',
       'netherlands', 'france', 'northcarolina', 'germany', 'europe',
       'earth', 'greece', 'pittsburgh', 'canae', 'united_states',
       'singapore', 'california', 'spain', 'scotland', 'denmark',
       'newjersey', 'atlantis', 'murrika', 'china_hong_kong', 'sweden',
       'nan', 'fearandloathing'], dtype=object)

In [42]:
candy.country.isna().sum()

39

In [43]:
candy['country'].describe()

count       2385
unique        27
top       taiwan
freq        2043
Name: country, dtype: object

In [44]:
#fill wth the most frequant

candy['country'] = candy.country.fillna('taiwan')

### 9 - clean ` area` column
> tip : area column has the same problem as country columns , but looking at all it's unique values may give us another way to deal with it rather than try to fix it

In [45]:
candy.columns = candy.columns.str.replace('state,_province,_county,_etc','state')

In [46]:
candy['state'].unique()

array(['NM', 'Virginia', 'or', 'exton pa', nan, 'Colorado ', 'ontario',
       'Ontario', 'Wa', 'Quebec', 'NY', 'California', 'Texas', 'NEW YORK',
       'CO', 'IN', 'MN', 'aberdeenshire', 'Alberta', 'Wisconsin, 53705',
       'RI', 'NC', 'Scotland', 'minnesota', 'Michigan', 'Florida',
       'New Jersey', 'VA', 'Colorado', 'Los Angeles, California', 'CA',
       'New York ', 'Chicago, Illinois', 'Nj', 'Wisconsin', 'Minnesota ',
       'London', 'mn', 'TEXAS', 'Illinois', 'District of Columbia',
       'Washington', 'Massachusetts ', 'OR', 'Montana', 'New York',
       'massachusetts', 'Abu Dhabi', 'TX', 'Arizona', 'Dc', 'yukon',
       'Pennsylvania ', 'MD', 'Ohio', 'Alberta ', 'OXFORDSHIRE', 'DC',
       'Iowa', 'Mn', 'TN', 'BC', 'Maryland', 'MI', 'Wisconsin ', 'alaska',
       'Ny', 'Colorado, Jefferson county ', 'Louisiana', 'pa',
       'CO, Larimer County', 'Nebraska ', 'Oregon', 'UT', 'ny',
       'Pennsylvania', 'CDMX', 'north carolina', 'Tennessee ', 'Texas ',
       'Knox county, Tennessee', 'New Mexico', 'Maine', 'maine',
       'Virginia, Arlington', 'WA', 'MO', 'Illinois ', 'Mi', 'MA',
       'Alaska', 'New York, NY', 'Il', 'PA', 'New Hampshire ',
       'Washington ', 'Massachusetts', 'Georgia', 'IL', 'Oregon ',
       'Washington, Clark ', 'NE', 'Oklahoma', 'SC', 'Nebraska', 'mi',
       'Nevada', 'va', 'California ', 'vancouver, bc',
       'Oregon - but will be in Washington for Halloween', 'Ri',
       'Washington, King', 'Ca', 'wa', 'md', 'new york', 'Rhode island',
       'VT, Chittenden', 'North Carolina', 'pennsylvania', 'PEnnsylvania',
       'Alabama', 'GA', 'FL, Orange County', 'Nope', 'manitoba',
       'colorado', 'california ', 'South Carolina', 'california',
       'Baja California', 'illinois', 'Santa Cruz County, California',
       'MARYLAND', 'NJ', 'North Dakota',
       'Pennsylvania, Montgomery County', 'Astoria NY', 'Michigan ', 'ca',
       'Kansas ', 'sk', 'Missouri', 'Oxfordshire', 'British Columbia',
       'West Virginia', 'Harris County, Texas', 'USA ', 'ohio', 'ma',
       'nc', 'Minnesota', 'Bc', 'oregon', 'philadelphia', 'Kentucky',
       'HI', 'South Holland', 'Derbyshire', 'hesse',
       'Massachusetts, Plymouth county', 'hi', 'Co', 'Cali', 'vt',
       'CA, Alameda', 'Utah', 'FL', 'Michigan, Shiawassee County',
       'Newfoundland', 'Indiana', 'wisconsin', 'Idaho ada', 'La',
       'America', 'Hawaii', 'California, Alameda', 'Az', 'VT', 'AZ',
       'Sub Earth', 'North dakota', 'virginia', 'Ga',
       'alameda county, california', 'Greater London', 'bc', 'nm', 'AB',
       'WV, Kanawha County ', 'michigan', 'Florida ', 'tx',
       'Washington State', 'Sussex', 48, 'Washington, King County',
       'San Jose', 'florida', 'Connecticut', 'New Jersey ', 'Orlando, FL',
       'ON', 'Saskatchewan', 'South Carolina ', 'texas', 'newfoundland',
       'mississippi', 'Oklahoma ', 'washington', 'Manitoba ',
       'Manchester', 'cascadia', 'in', 'rhode island', 'Ohio ', 'Pa',
       'FL ', 'Ut', 'Sydney ', 'CT',
       'oblivion if things keep going this way', 'connecticut',
       'British Columbia ', 'Nunya, Bizness, USA', 'OH',
       'Washington state', 'Oakland, California',
       'Washington, Seattle, king', 'Ontario,  Canada', 'ri',
       'phoenix, maricopa county, arizona', 'Merlin', 'NS',
       'Washington state, Kitsap County', 'cailifornia', 'oakland,ca',
       'QC', 'USA', 'Missouri ', 'Pittsburgh pa',
       'Issaquah, WA, King County ', 'Washington, seattle, king',
       'Massachussets ', 'Whatcom County, WA', 'Mt', 'NH', 'Michigin',
       'Ma', 'KS', 'Oakland County, Michigan', 'Albeqrrta', 'Marne',
       'Noord-Holland', 'Tennessee, Knox County', 'Henrico, VA',
       'Washington State, King County, City of Seattle', 'Washington, DC',
       'nyc', 'Brooklyn', 'qld', 'Santa Barbara co. California',
       'Maryland ', 'Ky', 'New Orleans la ', 'colorado, boulder', 'mo',
       'COLORADO', 'Nh', 'Greater Manchester', 'Fife, Scotland', 'A',
       'Kalamazoo County, MI', 'OREGON', 'Wi', 'Ontario ', 'wv',
       'ulster county, NY', 'NJ, Gloucester', 'calif', 'Or', 'tn', 'MS',
       'NB', 'Queens', 'Vermont', 'Kildare', 'Vermont ', 'ND',
       'tennessee', 'Washington DC', 'Kings, New York ', 'Cook',
       'Toronto, Ontario', 'Victoria', 'Virginia ', 'On', 'nova scotia',
       'Tehama', 'suffolk county ny', 'Santa Clara County, California',
       'louisiana', 'SD', 'Md', 'Missoure', 'IA',
       'Colorado larimer county', 'Tokyo', 'New Mexico, USA', 'ont',
       'Califor', 'Idaho', 'Kansas', 'NV', 'Brooklyn, kings county ny',
       'King County, Washington', 'WI', 'Washington, Island county',
       'KwaZulu-Natal', 'Carver county, MN', 'DUTCHESS COUNTY NY', 'Ny ',
       'Wyoming ', 'Bristol ', 'british columbia',
       'California, San Francisco', 'Glendora, Los Angeles, California',
       'Edinburgh', 'Strathclyde', 'Lancasire', 'Ã˜rbÃ¦k', 'pr', 'Idf',
       'Zuid Holland', 'Osaka', 'Surrey', 'Northern ireland', 'Vaud',
       'Arizona ', 'Nova Scotia', 'az', 'see question 2', 'Midlothian',
       'Tennessee', 'Durham County, North Carolina',
       'Missouri, Miller County', 'Glasgow ', 'ct',
       'Cuyahoga County, Ohio', 'Seoul', 'Canada', 'Kanagawa ',
       'The Shore', 'Manitoba', 'MD ', 'Devonshire', 'Utah ', 'Tx.',
       'maryland', 'PENNSYLVANIA', 'ONTARIO', 'Jakarta', 'kansas',
       'Mannheim, Baden-WÃ¼rttemberg ', '|NC', 'Wyoming', 'Rotterdam',
       'Ar', 'Arkansas', 'renton,wa ', 'N-Brabant', 'missouri',
       'Georgia ', 'Greifswald', 'ar', 'British Columbia, Canada', 'kent',
       'Hessen', 'Kentucky ', 'NOYB', 'New york', 'South Dakota',
       'Emerald City, Petrolia', 'New York, New York', 'wa, spokane',
       'new york ', 'Buncombe County, North Carolina',
       'California, San Diego', 'new hampshire',
       'California, Ventura County', 'NY, Tompkins County', 'Nj ',
       'Arlington, VA', 'Glasgow', 'kentucky', 'alberta', 'Philadelphia',
       'Portland, maine', 'sc', 'nh', 'NSW', 'califormia', 'New jersey',
       'montana', 'indiana ', 'Mexico city', 'GA - Georgia', 'il', 'WV',
       'Oregon, Multnomah County', 'Vancouver, Wa', 'Nc', 'Atlanta, GA',
       'Washington state ', 'Singapore', 'west virginia',
       'North carolina', 'KY', 'United States', 'Mo', 'Colorado (CO)',
       'Fl', 'wyoming', 'Nm', 'Dona Ana county, New Mexico',
       'UT, Salt Lake', 'Ks',
       'California, Contra Costa County, Pleasant Hill',
       'Shanghai, Chang Ning district ', 'Vt', 'Monroe county',
       'Hong Kong', 'Washingto', 'Dublin ',
       'California, Mendocino County', 'na', 'madrid', 'Hesse',
       'Noord-Brabant', 'Skane', 'ZÃ¼rich', 'Tree Town, USA',
       'New Hampshire', 'Philadelphia, PA',
       'Bristol County, Rhode Island', 'georgia',
       'Newfoundland and Labrador', 'Dublin', 'Oshawa, Ontario, Canada',
       'NL', 'DC ', 'oklahoma', 'NJ; Essex', 'Va', 'Delaware', 'Mich',
       'Ia', 'QuÃ©bec', 'orange county, ca', 'BERKELEY, CA',
       'California, USA', 'NYC', 'St. Louis County, Missouri', 'Munster',
       'Chicago, IL', 'Philadelphia PA', 'Rappahannock County, VA', 'OK',
       'Chicago, IL ', 'Mexico City', 'dc', 'Illinois  ', 'WASHINGTON DC',
       'Tn', 'Connecticut ', 'ill', 'Idaho ', 'Stockholm',
       'New York County, New York City, New York State', 'Chicago',
       'West Yorkshire', 'Berlin', 'arlington, va', 1, 'ur mom',
       'Alaska, Matanuska-Susitna Borough', 'utah', 'Marietta, GA',
       'Northbrook, IL', 'delaware', 'Tx', 'Ont',
       'Northampton County, PA', 'Rhode Island',
       'Pa.   Northampton county', 'California, San Diego county',
       'Bloomington, IN', 'indiana', 'Quenec', 'Londom', 'nj',
       'st. augustine florida', 'illinois ', 'iowa',
       "The Democratic People's Republic of North Carolina", 'SC ',
       'pennsylvania, northampton couny, easton', 'St Louis mo', 'mt',
       'Psychotic', 'quÃ©bec'], dtype=object)

In [47]:
candy['state'].describe()

count           2354
unique           511
top       California
freq             131
Name: state, dtype: object

In [48]:
candy['state'].isna().sum()

70

In [49]:
# i drop because have a lot of wrong data
candy = candy.drop('state', axis=1)

### 10 - clean ` Q6` columns
>- tip : Q6 has all kinds of chocolate bars and questions with three distinct options to choose from (Joy, Meh, Despair).
- so all the column that has Q6 is a candy name , so you should go through all these column and you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [50]:
q6 = candy.iloc[: , 5:108]
q6 = q6.fillna('MEH')
candy.iloc[: , 5:108] = q6

### 11 - clean ` dress` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [51]:
candy['dress'] = candy.dress.astype('category')
candy['dress'].dtype

CategoricalDtype(categories=['Blue and black', 'MEH', 'White and gold'], ordered=False)

In [52]:
candy.dress.describe()

count               2424
unique                 3
top       White and gold
freq                1081
Name: dress, dtype: object

In [53]:
candy.dress.unique()

['White and gold', 'MEH', 'Blue and black']
Categories (3, object): ['White and gold', 'MEH', 'Blue and black']

In [54]:
candy.dress = candy.dress.fillna('Blue and black')

### 12 - clean ` day` column
>tip : you should choose which best value to put in place of these NaNs ( mode, unknown,other ....etc)

In [55]:
candy['day'] = candy.day.astype('category')
candy['day'].dtype

CategoricalDtype(categories=['Friday', 'Sunday'], ordered=False)

In [56]:
candy['day'].describe()

count       1735
unique         2
top       Friday
freq        1091
Name: day, dtype: object

In [57]:
candy.day = candy.day.fillna('Friday')

### 13 - check
> after finish cleaning you should make sure your data is clean and that :
- there is no wrong data type
- there is no NaN values 
- all the column are cleaing and ready for the next step `EDA`

In [58]:
candy = candy.drop('media_[science]', axis=1)

In [59]:
candy.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2424 entries, 0 to 2423
Data columns (total 110 columns):
 #    Column                                                                            Non-Null Count  Dtype
---   ------                                                                            --------------  -----
 0    going_out                                                                         2424 non-null   category
 1    gender                                                                            2424 non-null   category
 2    age                                                                               2424 non-null   float64
 3    country                                                                           2424 non-null   object
 4    100_grand_bar                                                                     1713 non-null   object
 5    anonymous_brown_globs_that_come_in_black_and_orange_wrappers	(a.k.a._mary_janes)  2424 non-null   object
 6    any_full-sized_candy_bar                                                          2424 non-null   object
 7    black_jacks                                                                       2424 non-null   object
 8    bonkers_(the_candy)                                                               2424 non-null   object
 9    bonkers_(the_board_game)                                                          2424 non-null   object
 10   bottle_caps                                                                       2424 non-null   object
 11   box'o'raisins                                                                     2424 non-null   object
 12   broken_glow_stick                                                                 2424 non-null   object
 13   butterfinger                                                                      2424 non-null   object
 14   cadbury_creme_eggs                                                                2424 non-null   object
 15   candy_corn                                                                        2424 non-null   object
 16   candy_that_is_clearly_just_the_stuff_given_out_for_free_at_restaurants            2424 non-null   object
 17   caramellos                                                                        2424 non-null   object
 18   cash,_or_other_forms_of_legal_tender                                              2424 non-null   object
 19   chardonnay                                                                        2424 non-null   object
 20   chick-o-sticks_(we_donâ€™t_know_what_that_is)                                       2424 non-null   object
 21   chiclets                                                                          2424 non-null   object
 22   coffee_crisp                                                                      2424 non-null   object
 23   creepy_religious_comics/chick_tracts                                              2424 non-null   object
 24   dental_paraphenalia                                                               2424 non-null   object
 25   dots                                                                              2424 non-null   object
 26   dove_bars                                                                         2424 non-null   object
 27   fuzzy_peaches                                                                     2424 non-null   object
 28   generic_brand_acetaminophen                                                       2424 non-null   object
 29   glow_sticks                                                                       2424 non-null   object
 30   goo_goo_clusters                                                                  2424 non-null   object
 31   good_n'_plenty                                                                    2424 non-null   object
 32   gum_from_baseball_cards                                                           2424 non-null   object
 33   gummy_bears_straight_up                                                           2424 non-null   object
 34   hard_candy                                                                        2424 non-null   object
 35   healthy_fruit                                                                     2424 non-null   object
 36   heath_bar                                                                         2424 non-null   object
 37   hershey's_dark_chocolate                                                          2424 non-null   object
 38   hersheyâ€™s_milk_chocolate                                                          2424 non-null   object
 39   hershey's_kisses                                                                  2424 non-null   object
 40   hugs_(actual_physical_hugs)                                                       2424 non-null   object
 41   jolly_rancher_(bad_flavor)                                                        2424 non-null   object
 42   jolly_ranchers_(good_flavor)                                                      2424 non-null   object
 43   joyjoy_(mit_iodine!)                                                              2424 non-null   object
 44   junior_mints                                                                      2424 non-null   object
 45   senior_mints                                                                      2424 non-null   object
 46   kale_smoothie                                                                     2424 non-null   object
 47   kinder_happy_hippo                                                                2424 non-null   object
 48   kit_kat                                                                           2424 non-null   object
 49   laffytaffy                                                                        2424 non-null   object
 50   lemonheads                                                                        2424 non-null   object
 51   licorice_(not_black)                                                              2424 non-null   object
 52   licorice_(yes_black)                                                              2424 non-null   object
 53   lindt_truffle                                                                     2424 non-null   object
 54   lollipops                                                                         2424 non-null   object
 55   mars                                                                              2424 non-null   object
 56   maynards                                                                          2424 non-null   object
 57   mike_and_ike                                                                      2424 non-null   object
 58   milk_duds                                                                         2424 non-null   object
 59   milky_way                                                                         2424 non-null   object
 60   regular_m&ms                                                                      2424 non-null   object
 61   peanut_m&mâ€™s                                                                      2424 non-null   object
 62   blue_m&m's                                                                        2424 non-null   object
 63   red_m&m's                                                                         2424 non-null   object
 64   green_party_m&m's                                                                 2424 non-null   object
 65   independent_m&m's                                                                 2424 non-null   object
 66   abstained_from_m&m'ing.                                                           2424 non-null   object
 67   minibags_of_chips                                                                 2424 non-null   object
 68   mint_kisses                                                                       2424 non-null   object
 69   mint_juleps                                                                       2424 non-null   object
 70   mr._goodbar                                                                       2424 non-null   object
 71   necco_wafers                                                                      2424 non-null   object
 72   nerds                                                                             2424 non-null   object
 73   nestle_crunch                                                                     2424 non-null   object
 74   now'n'laters                                                                      2424 non-null   object
 75   peeps                                                                             2424 non-null   object
 76   pencils                                                                           2424 non-null   object
 77   pixy_stix                                                                         2424 non-null   object
 78   real_housewives_of_orange_county_season_9_blue-ray                                2424 non-null   object
 79   reeseâ€™s_peanut_butter_cups                                                        2424 non-null   object
 80   reese's_pieces                                                                    2424 non-null   object
 81   reggie_jackson_bar                                                                2424 non-null   object
 82   rolos                                                                             2424 non-null   object
 83   sandwich-sized_bags_filled_with_booberry_crunch                                   2424 non-null   object
 84   skittles                                                                          2424 non-null   object
 85   smarties_(american)                                                               2424 non-null   object
 86   smarties_(commonwealth)                                                           2424 non-null   object
 87   snickers                                                                          2424 non-null   object
 88   sourpatch_kids_(i.e._abominations_of_nature)                                      2424 non-null   object
 89   spotted_dick                                                                      2424 non-null   object
 90   starburst                                                                         2424 non-null   object
 91   sweet_tarts                                                                       2424 non-null   object
 92   swedish_fish                                                                      2424 non-null   object
 93   sweetums_(a_friend_to_diabetes)                                                   2424 non-null   object
 94   take_5                                                                            2424 non-null   object
 95   tic_tacs                                                                          2424 non-null   object
 96   those_odd_marshmallow_circus_peanut_things                                        2424 non-null   object
 97   three_musketeers                                                                  2424 non-null   object
 98   tolberone_something_or_other                                                      2424 non-null   object
 99   trail_mix                                                                         2424 non-null   object
 100  twix                                                                              2424 non-null   object
 101  vials_of_pure_high_fructose_corn_syrup,_for_main-lining_into_your_vein            2424 non-null   object
 102  vicodin                                                                           2424 non-null   object
 103  whatchamacallit_bars                                                              2424 non-null   object
 104  white_bread                                                                       2424 non-null   object
 105  whole_wheat_anything                                                              2424 non-null   object
 106  york_peppermint_patties                                                           2424 non-null   object
 107  dress                                                                             2424 non-null   category
 108  day                                                                               2424 non-null   category
 109  click_coordinates_(x,_y)                                                          1605 non-null   object
dtypes: category(4), float64(1), object(105)
memory usage: 2.0+ MB

<ipython-input-59-bcd59916ba77>:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  candy.info(verbose=True, null_counts=True)

### 14 - write a summary about all the cleaning steps

######